In [1]:
print("hello_world")

hello_world

In [2]:
import requests
from dotenv import load_dotenv
import os 
import quandl

In [3]:
load_dotenv()

True

In [4]:
api_key = os.getenv("QUANDL_API_KEY")

In [5]:
type(api_key)

str

In [10]:
quandl.ApiConfig.api_key = api_key
quandl.get_table('ZILLOW/DATA', indicator_id='ZSFH', region_id='85209')

     indicator_id region_id       date    value
None
0            ZSFH     85209 2021-05-31  60799.0
1            ZSFH     85209 2021-04-30  60132.0
2            ZSFH     85209 2021-03-31  59767.0
3            ZSFH     85209 2021-02-28  60078.0
4            ZSFH     85209 2021-01-31  60005.0
...           ...       ...        ...      ...
271          ZSFH     85209 1998-10-31  31108.0
272          ZSFH     85209 1998-09-30  30505.0
273          ZSFH     85209 1998-08-31  29984.0
274          ZSFH     85209 1998-07-31  29786.0
275          ZSFH     85209 1998-06-30  29607.0

[276 rows x 4 columns]