In [15]:
print("hello_world")

hello_world

In [16]:
import requests
from dotenv import load_dotenv
import os 
import quandl
import pandas as pd

In [17]:
load_dotenv()

True

In [18]:
api_key = os.getenv("QUANDL_API_KEY")

In [19]:
type(api_key)

str

In [20]:
quandl.ApiConfig.api_key = api_key
quandl.get_table('ZILLOW/DATA', indicator_id='ZSFH', region_id='85209')

     indicator_id region_id       date    value
None
0            ZSFH     85209 2021-05-31  60799.0
1            ZSFH     85209 2021-04-30  60132.0
2            ZSFH     85209 2021-03-31  59767.0
3            ZSFH     85209 2021-02-28  60078.0
4            ZSFH     85209 2021-01-31  60005.0
...           ...       ...        ...      ...
271          ZSFH     85209 1998-10-31  31108.0
272          ZSFH     85209 1998-09-30  30505.0
273          ZSFH     85209 1998-08-31  29984.0
274          ZSFH     85209 1998-07-31  29786.0
275          ZSFH     85209 1998-06-30  29607.0

[276 rows x 4 columns]

In [21]:
indicator_df = quandl.get_table("ZILLOW/INDICATORS")

indicator_df.head()

,indicator_id,indicator,category
None,,,
0,ZSFH,ZHVI Single-Family Homes Time Series ($),Home values
1,ZCON,ZHVI Condo/Co-op Time Series ($),Home values
2,ZATT,ZHVI All Homes- Top Tier Time Series ($),Home values
3,ZALL,"ZHVI All Homes (SFR, Condo/Co-op) Time Series ($)",Home values
4,ZABT,ZHVI All Homes- Bottom Tier Time Series ($),Home values

In [26]:
#regions = quandl.get_table("ZILLOW/REGIONS", paginate=True)

#regions

In [27]:
regions.region_type.value_counts()

zip       31172
city      27471
neigh     16711
county     2887
metro       915
state        51
Name: region_type, dtype: int64

In [28]:
indicator_df.indicator.value_counts()

Median Sale Price (Smooth, All Homes, Weekly View)                                  1
ZHVI All Homes- Bottom Tier Time Series ($)                                         1
Median Sale Price (Smooth & Seasonally Adjusted, All Homes, Weekly View)            1
Median List Price (Smooth, All Homes, Weekly View)                                  1
ZHVI Condo/Co-op Time Series ($)                                                    1
Share of Listings With a Price Cut (Smooth, SFR Only, Monthly)                      1
ZHVI 2-Bedroom Time Series ($)                                                      1
Share of Listings With a Price Cut (Raw, All Homes, Monthly)                        1
ZHVI All Homes (SFR, Condo/Co-op) Time Series ($)                                   1
Median Sale Price (Smooth & Seasonally Adjusted, SFR only, Weekly View)             1
Median List Price (Smooth, SFR Only, Weekly View)                                   1
Median List Price (Smooth, SFR Only, Monthly)                                       1
Median List Price (Smooth, All Homes, Monthly)                                      1
Median List Price (Raw, All Homes, Weekly View)                                     1
Share of Listings With a Price Cut (Smooth, SFR Only, Weekly View)                  1
For-Sale Inventory (Raw, All Homes, Weekly View)                                    1
Share of Listings With a Price Cut (Smooth, All Homes, Weekly View)                 1
ZHVI 5+ Bedroom Time Series ($)                                                     1
Mean Days to Pending (Smooth, All Homes, Weekly View)                               1
ZHVI 1-Bedroom Time Series ($)                                                      1
Median Sale Price (Raw, All Homes, Weekly View)                                     1
For-sale Inventory (Raw, SFR only, Monthly)                                         1
For-Sale Inventory (Smooth, SFR only, Weekly View)                                  1
ZHVI All Homes- Top Tier Time Series ($)                                            1
ZHVI 3-Bedroom Time Series ($)                                                      1
ZORI (Smoothed, Seasonally Adjusted): All Homes Plus Multifamily Time Series ($)    1
Mean Days to Pending (Raw, All Homes, Weekly View)                                  1
Median Days to Pending (Smooth, All Homes, Weekly View)                             1
Share of Listings With a Price Cut (Raw, SFR Only, Monthly)                         1
Median Sale Price (Smooth & Seasonally Adjusted, SFR only, Monthly)                 1
For-Sale Inventory (Smooth, SFR only, Monthly)                                      1
Median List Price (Raw, SFR Only, Weekly View)                                      1
Mean Days to Pending (Smooth, All Homes, Monthly)                                   1
Share of Listings With a Price Cut (Raw, All Homes, Weekly View)                    1
ZHVI Single-Family Homes Time Series ($)                                            1
ZORI (Smoothed): All Homes Plus Multifamily Time Series ($)                         1
For-Sale Inventory (Smooth, All Homes, Weekly View)                                 1
Median Sale Price (Smooth & Seasonally Adjusted, All Homes, Monthly)                1
Median Sale Price (Smooth, SFR only, Monthly)                                       1
Median Sale Price (Raw, SFR only, Weekly View)                                      1
Median Sale Price (Smooth, SFR only, Weekly View)                                   1
Median Sale Price (Raw, All Homes, Monthly)                                         1
For-sale Inventory (Raw, SFR only, Weekly View)                                     1
For-Sale Inventory (Smooth, All Homes, Monthly)                                     1
Median Sale Price (Raw, SFR only, Monthly)                                          1
Mean Days to Pending (Raw, All Homes, Monthly)                                      1
Median List Price (Raw, SFR Only, Monthly)                                          1
Median Days to Pending (Smooth, All Homes, Monthly)                                 1
For-Sale Inventory (Raw, All Homes, Monthly)                                        1
Median List Price (Raw, All Homes, Monthly)                                         1
Median Sale Price (Smooth, All Homes, Monthly)                                      1
Share of Listings With a Price Cut (Raw, SFR Only, Weekly View)                     1
Median Days to Pending (Raw, All Homes, Weekly View)                                1
Share of Listings With a Price Cut (Smooth, All Homes, Monthly)                     1
Median Days to Pending (Raw, All Homes, Monthly)                                    1
ZHVI 4-Bedroom Time Series ($)                                                      1
Name: indicator, dtype: int64

In [29]:
city = regions[regions.region_type == 'city']

city.head()

     region_id region_type                                             region
None
10        9999        city  Carrsville; VA; Virginia Beach-Norfolk-Newport...
20        9998        city     Birchleaf; VA; Big Stone Gap; Dickenson County
56        9994        city                Wright; KS; Dodge City; Ford County
124       9987        city  Weston; CT; Bridgeport-Stamford-Norwalk; Fairf...
168       9980        city  South Wilmington; IL; Chicago-Naperville-Elgin...

In [30]:
#zdata = pd.read_csv('../Resources/ZILLOW_DATA.csv')

In [31]:
zdata_avg_singlefam = quandl.get_table('ZILLOW/DATA', indicator_id='ZSFH', region_id='394299')

zdata_avg_singlefam

     indicator_id region_id       date     value
None
0            ZSFH    394299 2021-05-31  152071.0
1            ZSFH    394299 2021-04-30  150422.0
2            ZSFH    394299 2021-03-31  149134.0
3            ZSFH    394299 2021-02-28  146921.0
4            ZSFH    394299 2021-01-31  149083.0
...           ...       ...        ...       ...
192          ZSFH    394299 2005-05-31   89096.0
193          ZSFH    394299 2005-04-30   88697.0
194          ZSFH    394299 2005-03-31   88434.0
195          ZSFH    394299 2005-02-28   88346.0
196          ZSFH    394299 2005-01-31   88403.0

[197 rows x 4 columns]

In [32]:
zdata_avg_singlefam.drop(columns=['indicator_id', 'region_id'], inplace=True, axis=1)

zdata_avg_singlefam.head()

           date     value
None
0    2021-05-31  152071.0
1    2021-04-30  150422.0
2    2021-03-31  149134.0
3    2021-02-28  146921.0
4    2021-01-31  149083.0