In [1]:
# Initial imports
import pandas as pd
from pathlib import Path
import numpy as np
import matplotlib.pyplot as plt
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from matplotlib import style
style.use("ggplot")
from sklearn.linear_model import LinearRegression
%matplotlib inline
from sklearn.linear_model import LogisticRegression



# Needed for decision tree visualization
import pydotplus
from IPython.display import Image

In [2]:
# Setting up example data

file_path = Path("../Resources/State_MedianListingPrice_AllHomes.csv")
df_zillow = pd.read_csv(file_path)
df_zillow.head()

,RegionName,SizeRank,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,2010-08,...,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09
0,California,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,465000.0,468888,475000,494900.0,499900.0,499999.0,499900.0,499950.0,499900.0,499950
1,Texas,2,160000.0,161000.0,162500.0,163990.0,163000.0,164000.0,160000.0,160692.0,...,249999.0,249900,255000,263900.0,269900.0,272000.0,274681.0,270000.0,269900.0,269000
2,New York,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,329000.0,339400,349000,349900.0,350000.0,349174.5,345000.0,339900.0,329999.0,339000
3,Florida,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,264900.0,269900,274000,275000.0,279000.0,279900.0,279990.0,279999.0,279900.0,283990
4,Illinois,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,185000.0,185000,197900,209876.5,215900.0,219900.0,224900.0,219900.0,215000.0,214900

In [3]:
df_zillow.isnull().sum()

RegionName     0
SizeRank       0
2010-01       15
2010-02       15
2010-03       14
              ..
2017-05        0
2017-06        0
2017-07        0
2017-08        0
2017-09        0
Length: 95, dtype: int64

In [4]:
df_zillow.drop('SizeRank', inplace=True, axis=1)

In [5]:
zillow = df_zillow.set_index('RegionName')

zillow.head()

,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,2010-08,2010-09,2010-10,...,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09
RegionName,,,,,,,,,,,,,,,,,,,,,
California,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,465000.0,468888,475000,494900.0,499900.0,499999.0,499900.0,499950.0,499900.0,499950
Texas,160000.0,161000.0,162500.0,163990.0,163000.0,164000.0,160000.0,160692.0,169990.0,169385.0,...,249999.0,249900,255000,263900.0,269900.0,272000.0,274681.0,270000.0,269900.0,269000
New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,329000.0,339400,349000,349900.0,350000.0,349174.5,345000.0,339900.0,329999.0,339000
Florida,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,264900.0,269900,274000,275000.0,279000.0,279900.0,279990.0,279999.0,279900.0,283990
Illinois,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,185000.0,185000,197900,209876.5,215900.0,219900.0,224900.0,219900.0,215000.0,214900

In [6]:
zillow.dropna(inplace=True, axis=0)

zillow

,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,2010-08,2010-09,2010-10,...,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09
RegionName,,,,,,,,,,,,,,,,,,,,,
Texas,160000.0,161000.0,162500.0,163990.0,163000.0,164000.0,160000.0,160692.0,169990.0,169385.0,...,249999.0,249900,255000,263900.0,269900.0,272000.0,274681.0,270000.0,269900.0,269000
Pennsylvania,169900.0,169900.0,174900.0,174500.0,170000.0,169900.0,169900.0,169900.0,169999.0,169200.0,...,170000.0,169900,174900,189000.0,195000.0,195000.0,194900.0,194900.0,189900.0,189900
North Carolina,189900.0,189900.0,189900.0,189000.0,187500.0,185000.0,184000.0,179900.0,184900.0,179000.0,...,229000.0,225000,229900,235000.0,245000.0,249000.0,249900.0,249900.0,249000.0,249900
Virginia,230000.0,231750.0,234950.0,235000.0,234900.0,232000.0,230000.0,229900.0,235000.0,229900.0,...,269900.0,269000,274999,289000.0,299000.0,299900.0,299950.0,299900.0,295000.0,297970
Washington,259900.0,259000.0,260000.0,257500.0,250000.0,250000.0,254300.0,250000.0,254950.0,239900.0,...,309000.0,305950,315000,329006.0,338950.0,349000.0,350000.0,350000.0,350000.0,350000
Massachusetts,289900.0,304900.0,299900.0,299900.0,299900.0,299000.0,299000.0,299000.0,299900.0,299900.0,...,384900.0,379900,389900,409900.0,422000.0,429000.0,429000.0,424900.0,419000.0,419900
Indiana,124900.0,125000.0,127000.0,126900.0,126500.0,125900.0,124900.0,124900.0,125000.0,124900.0,...,139900.0,139900,140000,149900.0,159900.0,164900.0,165000.0,165900.0,164900.0,167000
Tennessee,159900.0,159000.0,156900.0,155000.0,154900.0,154900.0,154900.0,154900.0,163900.0,159900.0,...,199000.0,195000,199900,208000.0,214900.0,219900.0,222900.0,224950.0,224900.0,225000
Missouri,140000.0,141250.0,140000.0,139999.0,139900.0,139900.0,139900.0,139900.0,144900.0,142500.0,...,149900.0,149900,150825,159500.0,164900.0,168600.0,169900.0,169900.0,169900.0,169900
Maryland,245000.0,246000.0,245000.0,249000.0,243900.0,239900.0,234900.0,229900.0,239800.0,237500.0,...,275000.0,274900,279900,290790.0,299900.0,309000.0,307000.0,309000.0,300000.0,302900
Minnesota,169900.0,169900.0,169900.0,169900.0,169900.0,169900.0,164900.0,164900.0,179000.0,169900.0,...,224900.0,219900,235000,240000.0,245900.0,249900.0,249900.0,249900.0,247900.0,249000
Colorado,248500.0,244000.0,240000.0,240000.0,244900.0,245000.0,245000.0,249900.0,249951.0,234900.0,...,375000.0,377350,385000,390000.0,399000.0,399900.0,400000.0,406682.5,403900.0,408068
Alabama,169900.0,169900.0,169500.0,165000.0,167167.0,165000.0,164900.0,159950.0,164900.0,159900.0,...,174900.0,174900,178400,179999.5,189900.0,189900.0,189900.0,190000.0,189900.0,193900
South Carolina,189000.0,185000.0,182000.0,179900.0,178500.0,175900.0,174900.0,174900.0,179900.0,175000.0,...,219000.0,218990,220000,225000.0,229781.0,230000.0,233400.0,234900.0,234900.0,239000
Louisiana,172900.0,170000.0,170000.0,171181.0,169900.0,169900.0,169900.0,169900.0,172000.0,168500.0,...,197500.0,195000,194900,198375.0,200000.0,205947.0,205900.0,205500.0,204000.0,204000
Kentucky,149900.0,149760.0,148999.5,149000.0,149000.0,149000.0,148000.0,145900.0,147900.0,144900.0,...,159900.0,159000,159900,165000.0,169900.0,173916.0,172900.0,173500.0,170000.0,169900
Oregon,225562.5,224900.0,224900.0,219900.0,217000.0,219900.0,219900.0,219900.0,224500.0,209000.0,...,322000.0,320000,325000,329900.0,340000.0,349900.0,353500.0,357000.0,350000.0,352000
Oklahoma,139900.0,139900.0,139500.0,136756.0,136350.0,137500.0,135000.0,134900.0,139000.0,138500.0,...,172500.0,169999,169900,172500.0,175000.0,178738.0,179900.0,179900.0,179000.0,179900
Iowa,136900.0,138200.0,139900.0,139900.0,139900.0,139500.0,139000.0,138000.0,137500.0,136450.0,...,150000.0,154900,159900,164900.0,169900.0,174900.0,175000.0,174500.0,169900.0,169000
Mississippi,154800.0,154900.0,150000.0,152000.0,152000.0,150000.0,149900.0,149900.0,149900.0,149700.0,...,160000.0,159999,163000,169000.0,173000.0,175000.0,175000.0,175000.0,174900.0,175000
Arkansas,142000.0,142500.0,139900.0,139900.0,139900.0,141900.0,140000.0,139900.0,143500.0,140000.0,...,149900.0,149900,150000,155000.0,159500.0,159900.0,160000.0,164000.0,161358.0,164900
Kansas,149900.0,149900.0,150000.0,150000.0,149900.0,149900.0,147000.0,145000.0,145000.0,143000.0,...,145000.0,145000,149900,159900.0,167500.0,174000.0,174900.0,169900.0,165900.0,169900
New Mexico,226000.0,225000.0,221900.0,219994.5,220000.0,219900.0,219000.0,217500.0,219500.0,208000.0,...,210000.0,209500,209900,214900.0,217500.0,220000.0,222990.0,224900.0,223000.0,222900
West Virginia,150000.0,150000.0,153900.0,150000.0,150000.0,150000.0,149900.0,149999.5,149900.0,149900.0,...,149000.0,145000,149000,149900.0,151000.0,154990.0,155000.0,154900.0,152900.0,150000
Hawaii,489000.0,485000.0,469000.0,469000.0,468000.0,464000.0,455900.0,479000.0,489000.0,449000.0,...,595000.0,599000,595000,595000.0,599000.0,599900.0,610000.0,600000.0,599500.0,599000
Maine,209900.0,205000.0,200000.0,200000.0,209000.0,209900.0,208000.0,209000.0,200500.0,199985.0,...,214250.0,209900,210000,219000.0,225000.0,229900.0,234900.0,234900.0,230000.0,234900
New Hampshire,249000.0,239999.0,239900.0,239900.0,245000.0,244900.0,238500.0,235000.0,229900.0,234900.0,...,259900.0,259900,264900,269900.0,274900.0,279000.0,279900.0,279900.0,279000.0,279000
Rhode Island,259000.0,250950.0,249900.0,254900.0,255000.0,250000.0,250950.0,259000.0,259000.0,249900.0,...,269900.0,265000,274900,279000.0,289900.0,299000.0,299900.0,299000.0,297750.0,298000
Montana,254900.0,249900.0,249000.0,245000.0,245000.0,247250.0,245000.0,247000.0,246000.0,239900.0,...,294900.0,289900,289900,292500.0,295000.0,299000.0,299900.0,300400.0,299900.0,299500
Delaware,234900.0,232900.0,230000.0,233250.0,227000.0,225000.0,224900.0,225000.0,229900.0,227500.0,...,266296.5,264900,265000,269900.0,271990.0,272900.0,275000.0,275875.0,279000.0,277900
South Dakota,174900.0,169950.0,169000.0,165000.0,168950.0,169900.0,169900.0,169900.0,165900.0,164900.0,...,204450.0,202900,205900,209250.0,209999.5,212500.0,214900.0,215000.0,214900.0,215000
Alaska,239900.0,241250.0,248000.0,249000.0,251950.0,255000.0,249900.0,249900.0,251000.0,248900.0,...,269900.0,265000,268000,271900.0,275000.0,279000.0,276700.0,275000.0,275000.0,275000
Vermont,249900.0,249900.0,249500.0,249000.0,249900.0,249900.0,249900.0,249000.0,247900.0,247000.0,...,239000.0,239000,239000,239000.0,239900.0,245000.0,246000.0,247000.0,246000.0,249000
District of Columbia,293250.0,299000.0,315000.0,329900.0,329000.0,329000.0,325000.0,325000.0,349000.0,334000.0,...,549000.0,547000,539900,549000.0,550000.0,560000.0,566900.0,549999.0,529000.0,550000
Wyoming,219900.0,210000.0,209949.5,208000.0,209000.0,205000.0,209000.0,208000.0,210000.0,200000.0,...,234999.5,231000,230000,235000.0,235000.0,239000.0,239900.0,240000.0,239500.0,239000

In [7]:
#Build Linear Regression
#from sklearn.linear_model import LinearRegression
#model = LinearRegression()
#model

In [8]:
# Separate the data into the X and y components
# In this case, y will be the `Price` and X will be the remainign columns

#X = zdata.index.values.reshape(-1,1)
#y = zdata['Price']

In [9]:
# Fit the model to the data

#model.fit(X, y)

In [10]:
#predicted_y_values = model.predict(X)
#predicted_y_values

In [11]:
#Extracting coef, intercept

#model.coef_
#model.intercept_

In [12]:
#Plotting Results

#plt.scatter(X, y)
#plt.plot(X, predicted_y_values, color='red')

In [13]:
#Metrics - score, R2, mse, rmse, std

#from sklearn.metrics import mean_squared_error, r2_score

#score = model.score(X, y, sample_weight=None)
#r2 = r2_score(y, predicted_y_values)
#mse = mean_squared_error(y, predicted_y_values)
#rmse = np.sqrt(mse)
#std = np.std(y)

In [14]:
#Build Logistic Regression

#train test split
#from sklearn.model_selection import train_test_split

#X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78, stratify=y)

In [15]:
#Create Model
#classifier = LogisticRegression(solver='lbfgs', random_state=78)
#classifier

In [16]:
# Train the data
#classifier.fit(X_train, y_train)

In [17]:
# Score the model
#print(f"Training Data Score: {classifier.score(X_train, y_train)}")
#print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

In [18]:
# Predict outcomes for test data set
#predictions = classifier.predict(X_test)
#pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

In [19]:
#Confusion Matrix
#from sklearn.metrics import confusion matrix
#confusion_matrix(y_test, predictions)

In [20]:
#Classification Report
#from sklearn.metrics import classsification report
#print(classification_report(y_test, predictions))

In [21]:
#Build LSTM Model

#def window_data(df, window, feature_col_number, target_col_number):
#    X = []
#    y = []
#    for i in range(len(df) - window - 1):
#        features = df.iloc[i:(i + window), feature_col_number]
#        target = df.iloc[(i + window), target_col_number]
#        X.append(features)
#        y.append(target)
#    return np.array(X), np.array(y).reshape(-1, 1)

In [22]:
# Predict Closing Prices using a 10 day window of previous fng values
# Then, experiment with window sizes anywhere from 1 to 10 and see how the model performance changes
#window_size = 10

# Column index 0 is the 'fng_value' column
# Column index 1 is the `Close` column
#feature_column = 0
#target_column = 1
#X, y = window_data(df, window_size, feature_column, target_column)

In [23]:
# Use 70% of the data for training and the remaineder for testing
#split = int(0.7 * len(X))

#X_train = X[: split]
#X_test = X[split:]
#y_train = y [: split]
#y_test = y[split:]

In [24]:
from sklearn.preprocessing import MinMaxScaler
# Use the MinMaxScaler to scale data between 0 and 1.
#scaler = MinMaxScaler()
#scaler.fit(X)
#X_train = scaler.transform(X_train)
#X_test = scaler.transform(X_test)
#scaler.fit(y)
#y_train = scaler.transform(y_train)
#y_test = scaler.transform(y_test)

In [25]:
# Reshape the features for the model
#X_train = X_train.reshape((X_train.shape[0], X_train.shape[1], 1))
#X_test = X_test.reshape((X_test.shape[0], X_test.shape[1], 1))

In [26]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout

In [27]:
# Build the LSTM model. 
# The return sequences need to be set to True if you are adding additional LSTM layers, but 
# You don't have to do this for the final layer. 
# Note: The dropouts help prevent overfitting
# Note: The input shape is the number of time steps and the number of indicators
# Note: Batching inputs has a different input shape of Samples/TimeSteps/Features

#model = Sequential()

#number_units = 5
#dropout_fraction = 0.2


# Layer 1
#model.add(LSTM(
#    units=number_units,
#    return_sequences=True,
#    input_shape=(X_train.shape[1], 1))
#    )
#model.add(Dropout(dropout_fraction))

# Layer 2
#model.add(LSTM(units=number_units, return_sequences=True))
#model.add(Dropout(dropout_fraction))

# Layer 3
#model.add(LSTM(units=number_units))
#model.add(Dropout(dropout_fraction))

# Output layer
#model.add(Dense(1))

In [28]:
# Compile the model
#model.compile(optimizer='adam', loss="mean_squared_error")

In [29]:
# Summarize the model
#model.summary()

In [30]:
# Train the model
# Use at least 10 epochs
# Do not shuffle the data
# Experiement with the batch size, but a smaller batch size is recommended
#model.fit(X_train, y_train, epochs=10, shuffle=False, batch_size=1, verbose=1)

In [31]:
# Evaluate the model
#model.evaluate(X_test, y_test)

In [32]:
# Make some predictions
#predicted = model.predict(X_test)

In [33]:
# Recover the original prices instead of the scaled version
#predicted_prices = scaler.inverse_transform(predicted)
#real_prices = scaler.inverse_transform(y_test.reshape(-1, 1))

In [34]:
# Create a DataFrame of Real and Predicted values
#housing = pd.DataFrame({
#    "Real": real_prices.ravel(),
#    "Predicted": predicted_prices.ravel()
#}, index = df.index[-len(real_prices): ]) 

#housing.head()

In [35]:
# Plot the real vs predicted values as a line chart
#housing.plot()